body {
    font-family: 'Acme', sans-serif;
    font-size: 2.2em;
}

img {
    width: 150px;
    align-content: center;
    -user-drag: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
}

.arriba {
    color: white;
    background-color:black;
    height: 400px;
    width: 100%;
    text-align: center;
}

.abajo {
    background-color: blue;
    height: 50vh;
}

.contenido {
    margin-top: 5%;
}

.abajo .contenido {
    display: flex;
    justify-content: center;
}
.contenedor-usuario{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-usuario label {
    margin-right: 50px;
}
.usuario{
    padding-left: 10px;
}

.titulo {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.titulo p {
    display: inline;
}

.boton {
    font-size: 1.2em;
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 2px solid white;
    cursor: pointer;
    width: 100%;
}

.row {
    margin: 0;
}
.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db; /* Color del círculo de carga */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Agrega una animación de giro */
    margin-left: 50px;
  }
.nover {
    display: none !important;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  